BABA.sln
.vs/BABA/project-colors.json
.vs/BABA/v17/.suo
.vs/BABA/v17/Browse.VC.db
.vs/BABA/v17/ipch/AutoPCH/ac4d76bdfb41e75c/MAIN.ipch
BABA/BABA.vcxproj
BABA/BABA.vcxproj.filters
BABA/BABA.vcxproj.user
BABA/x64/Debug/BABA.exe.recipe
BABA/x64/Debug/BABA.ilk
BABA/x64/Debug/BABA.log
BABA/x64/Debug/main.obj
BABA/x64/Debug/main.obj.enc
BABA/x64/Debug/vc143.idb
BABA/x64/Debug/vc143.pdb
BABA/x64/Debug/BABA.tlog/BABA.lastbuildstate
BABA/x64/Debug/BABA.tlog/CL.command.1.tlog
BABA/x64/Debug/BABA.tlog/CL.read.1.tlog
BABA/x64/Debug/BABA.tlog/CL.write.1.tlog
BABA/x64/Debug/BABA.tlog/link.command.1.tlog
BABA/x64/Debug/BABA.tlog/link.read.1.tlog
BABA/x64/Debug/BABA.tlog/link.write.1.tlog
x64/Debug/BABA.exe
x64/Debug/BABA.pdb
